name: build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13, macos-14, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: make
        shell: bash

      - name: Archive macchanger binary
        uses: actions/upload-artifact@v4
        with:
          name: macchanger-${{ matrix.os }}
          path: |
            macchanger
